.olImageLoadError { 
	/* when OL encounters a 404, don't display the pink image */
    display:    none !important;
}
.flag {
	width:      20px;
}

body {
    margin:     0;
    padding:    0;
}

/**
 * Layer switcher
 */
.olControlLayerSwitcher {
    font-size:  large;
}
.olAlphaImg{
    width:      30px;
    height:     30px;
    right:      10px;
}